<div class="page-versions">
  <ul class="version-switcher">
    <li><a href="/openhab-jruby/5.42" class="version-button stable" onclick="gotoVersion(event)">Stable <small>(5.42)</small></a></li>
    <li><a href="/openhab-jruby/main" class="version-button main" onclick="gotoVersion(event)">Latest <small>(main)</small></a></li>
  </ul>
  <div class="archived-versions">
    <div class="dropdown-wrapper">
      <a class="dropdown-title">
        <span class="title">Archived</span>
        <span class="arrow down"></span>
      </a>
      <ul class="nav-dropdown" id="version-dropdown">
        <% 
          # This will be populated by versions.js, e.g.:
          # <li class="dropdown-item"><a href="/xx.xx">xx.xx</a></li> 
        %>
      </ul>
    </div>
  </div>
</div>

